@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#blossom_container {
	position: absolute;
	/* width: calc(100% - 40px);  */
	/* height: calc(100% - 40px); */
  width: calc(100%);
  height: calc(100%);
}

.petal {
	background: url(http://talktofill.surge.sh/cherry-blossom.png) no-repeat;
	z-index: -40;

	&.petal-style1 {
		width: 45px;
		height: 20px;
		background-position: -31px 0;
	}
	&.petal-style2 {
		width: 42px;
		height: 22px;
		background-position: 0 -23px;
	}
	&.petal-style3 {
		width: 37px;
		height: 24px;
		background-position: 0 -50px;
	}
	&.petal-style4 {
		width: 26px;
		height: 34px;
		background-position: -49px -35px;
	}
}